@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{

  :root{
    font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
    
    --clr-primary: #6C63FF;
    --clr-secondary: #0C0A09;
    --clr-background: #F5F5F5;
  }
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: var(--clr-background);
}

.container{
  margin-inline: auto;
  width: 100%;
}

@media (min-width: 1200px){
  .container{
    max-width: 1200px;
  }
}